#screen-level {
}

#screen-level .level {
	margin: 50px 0;
	position: relative;
	text-align: center;
}

#screen-level .level .field {
	position: absolute;
	top: 0;
	left: 0;
}

#screen-level footer,
#screen-level header {
	position: fixed;
	width: 100%;
	background-color: #000;
	height: 48px;
	text-align: center;
}

#screen-level footer {
	bottom: 0px;
	line-height: 48px;
	border-top: 2px solid #111;
}

#screen-level footer button {
	font-size: 12px;
	padding: 4px;
}

@media (max-width: 320px) {
	#screen-level footer button {
		font-size: 10px;
	}
}

#screen-level footer button.stop {
	display: none;
}

#screen-level header {
	top: 0px;
	line-height: 24px;
	border-bottom: 2px solid #111;
}

#screen-level header .antigoal {
	display: none;
}

#screen-level header.done,
#screen-level footer.done {
	background-color: #060;
}

#screen-level header.lose,
#screen-level footer.lose {
	background-color: #600;
}
