#screen-level {
}

#screen-level .level {
	margin: 48px 0;
	position: relative;
	text-align: center;
}

#screen-level .level .field {
	position: absolute;
	top: 0;
	left: 0;
}

#screen-level footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	background-color: #000;
	height: 48px;
	text-align: center;
	line-height: 48px;
}

#screen-level footer button {
	font-size: 12px;
	padding: 4px;
}

#screen-level header {
	position: fixed;
	top: 0px;
	width: 100%;
	background-color: #000;
	height: 48px;
	text-align: center;
	line-height: 24px;
}
