#screen-menu {
	background: black url("/images/ui/screen-background.png") no-repeat center center;
	background-size: cover;
}

#screen-menu .buttons {
	position: absolute;
	bottom: 40px;
	width: 100%;
}

#screen-menu .buttons button {
	margin-top: 20px;
}
