#screen-splash.screen {
	display: block;
	background: black url("/images/meta/splash.png") no-repeat center center;
	background-size: cover;
}

#screen-splash .footer {
	position: absolute;
	width: 100%;
}

#screen-splash .footer {
	text-align: center;
	bottom: 20px;
	font-size: 12px;
}

#screen-splash .footer .actions {
	margin-bottom: 16px;
}

#screen-splash .footer .actions .loading {
}

#screen-splash .footer .actions .play {
	display: none;
}
