@font-face {
    font-family: RetroComputer;
    src: url("/fonts/retrocomputer.ttf");
}

body, html {
    overflow: visible;
	margin: 0px;
	padding: 0px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
	font-family: RetroComputer;
	font-size: 24px;
	color: #fff;
	background-color: #000;
}

#screens .screen {
	display: none;
}

button {
	background: #383838;
	background-image: -webkit-linear-gradient(top, #383838, #050505);
	background-image: -moz-linear-gradient(top, #383838, #050505);
	background-image: -ms-linear-gradient(top, #383838, #050505);
	background-image: -o-linear-gradient(top, #383838, #050505);
	background-image: linear-gradient(to bottom, #383838, #050505);
	font-family: RetroComputer;
	color: #ffffff;
	font-size: 20px;
	padding: 8px 16px 8px 16px;
	border: solid #ffffff 2px;
	text-decoration: none;
}

button[disabled] {
	opacity: 0.5;
}

button.full {
	display: block;
	width: 80%;
	margin: 0 auto;
}

a {
	color: #06f;
}


.common-header {
	position: absolute;
	width: 100%;
}

.common-header {
	text-align: center;
	top: 20px;
}

.common-header h1,
.common-header h2 {
	margin: 0;
	padding: 0;
}

.common-header h1 {
	font-size: 32px;
}

.common-header h2 {
	font-size: 24px;
}
