@font-face {
    font-family: RetroComputer;
    src: url("/fonts/retrocomputer.ttf");
}

body, html {
    overflow: visible;
	margin: 0px;
	padding: 0px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body {
	font-family: RetroComputer;
	font-size: 12px;
	color: #fff;
	background-color: #000;
	cursor: default;
}

#screens .screen {
	display: none;
}

button {
	background: #000;
	font-family: RetroComputer;
	color: #ffffff;
	font-size: 20px;
	padding: 8px 16px 8px 16px;
	border: solid #ffffff 2px;
	text-decoration: none;
	cursor: pointer;
}

button:active {
	background: #333;
}

button[disabled] {
	color: #666;
	border-color: #666;
	cursor: default;
}

button.full {
	display: block;
	width: 80%;
	margin: 0 auto;
}

a {
	color: #06f;
	cursor: pointer;
}


.common-header {
	position: absolute;
	width: 100%;
}

.common-header {
	text-align: center;
	top: 20px;
}

.common-header h1,
.common-header h2 {
	margin: 0;
	padding: 0;
}

.common-header h1 {
	font-size: 32px;
}

.common-header h2 {
	font-size: 24px;
}

.common-header h1 span,
.common-header h2 span {
	background-color: #000;
	padding: 0 4px;
}

.screen-full {
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	position: absolute;
}

.screen-wrap {
	padding: 5%;
}

.screen-full .footer-buttons {
	bottom: 0px;
	position: fixed;
	width: 100%;
	margin-bottom: 40px;
}

.screen-full h3 {
	text-align: center;
	margin: 0 0 20px 0;
	padding: 0px;
	font-size: 26px;
}

.cycle {
	outline-width: 0px;
	-webkit-animation: cycle 2s linear infinite;
    -moz-animation: cycle 2s linear infinite;
    animation: cycle 2s linear infinite;
}

@-webkit-keyframes cycle {
    0% {
		color: hsl(0, 50%, 50%);
		outline-color: hsl(0, 50%, 50%);
	}
    11% {
		color: hsl(40, 50%, 50%);
		outline-color: hsl(40, 50%, 50%);
	}
    22% {
		color: hsl(80, 50%, 50%);
		outline-color: hsl(80, 50%, 50%);
	}
    33% {
		color: hsl(120, 50%, 50%);
		outline-color: hsl(120, 50%, 50%);
	}
    44% {
		color: hsl(160, 50%, 50%);
		outline-color: hsl(160, 50%, 50%);
	}
    55% {
		color: hsl(200, 50%, 50%);
		outline-color: hsl(200, 50%, 50%);
	}
    66% {
		color: hsl(240, 50%, 50%);
		outline-color: hsl(240, 50%, 50%);
	}
    77% {
		color: hsl(280, 50%, 50%);
		outline-color: hsl(280, 50%, 50%);
	}
    88% {
		color: hsl(320, 50%, 50%);
		outline-color: hsl(320, 50%, 50%);
	}
    100% {
		color: hsl(360, 50%, 50%);
		outline-color: hsl(360, 50%, 50%);
	}
}
